@using System.Linq
@model IEnumerable<SmartInItProjekat.ViewModels.ReportViewModel>
@{
    ViewBag.Title = "Generated Report";
}
<br />
<h2 class="text-center main">Report</h2>

@if (Model.FirstOrDefault() != null)
{
    <table class="container">
        <thead>
            <tr>
                <th><h1>Salon</h1></th>
                <th><h1>Sold Amount</h1></th>
                <th><h1>Total Earnigs</h1></th>
                <th><h1>Time Period From - To</h1></th>
                <th><h1>All</h1></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Shop</td>
                    <td>@item.AmountSold</td>
                    <td>@string.Format("{0:c}", @item.Price)</td>
                    <td>@Model.FirstOrDefault().StartDate.ToString("dd.MM.yyyy.") - @Model.FirstOrDefault().EndDate.ToString("dd.MM.yyyy.") </td>
                    <td>-</td>
                </tr>
            }
            <tr>
                <td>TOTAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td id="total">
                    @string.Format("{0:c}", @Model.Sum(m => m.Price))
                </td>
            </tr>


        </tbody>
    </table>

    <link rel="stylesheet" href="@Href("~/Content/Report.css")" />

}
else
{   
    <br />
    <div class="text-center">
            <span id="span">
                No items has sold in that time period. <br />
                Click <a id="link" href="/Bills/Report">here</a> to go back!
            </span>
        </div>
    <img class="center" src="https://cdn.dribbble.com/users/308895/screenshots/2598725/no-results.gif" alt="gif" />
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        #span {
            color: #28AE7B;
            text-align: center;
            font-weight:900;
            font-size:2em;
        }

        #link {
            color: blue;
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
}

