@model SmartInItProjekat.Models.Furniture
@{
    ViewBag.Title = "List Of Furniture ";
}

<h2>Furnitures</h2>
<div class="row">
    <div class="col-sm-12">
        @if (Html.HasValidationMessageFor(model => model.Code))
        {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <button type="button" class="close" data-animation="alert">
                </button>
                @Html.ValidationSummary(false)
            </div>
        }
    </div>
</div>

<div class="modal fade" id="modalAdd" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mTitle">Furniture</h5>
                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<a id="button-add" class="btn btn-success" style="margin-bottom:10px;color:white" data-toggle="modal" data-target="#modalAdd"
   onclick="PopupForm('@Url.Action("Add","Furnitures")')"><i class="fa fa-plus"></i> Add New Furniture</a>
<div id="user_content"></div>
<div style="width:1250px">
    <table id="Table" class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Origin</th>
                <th>Year Made</th>
                <th>Category</th>
                <th>Shop</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tfoot style="display:table-header-group">
            <tr>
                <th></th>
                <th class="searchable">Name</th>
                <th class="searchable">Origin</th>
                <th class="searchable">Year Made</th>
                <th></th>
                <th></th>
                <th></th>
                <th class="searchable">Price</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody class="table table-bordered"></tbody>
    </table>
</div>

<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            dataTable = $("#Table").DataTable({
                "ajax": {
                    "url": "/Furnitures/GetData/",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Code" },
                    { "data": "Name"},
                    { "data": "CountryOfOrigin" },
                    { "data": "Year" },
                    { "data": "Category" },
                    { "data": "FurnitureSalon" },
                    { "data": "Amount" },
                    { "data": "Price" },
                    {
                        "data": "FurnitureId", "width": "22%", sortable:false, render: function(data) {
                            return "<a class='btn btn-outline-info btn-block btn-sm'" +
                                    "data-toggle='modal' data-target='#modalAdd'onclick=PopupForm('@Url.Action("Update","Furnitures")/" +
                                data + "')><i class='fa fa-pencil'></i>Update</a><a class='btn btn-outline-success btn-block btn-sm' data-toggle='modal' data-target='#modalAdd'" +
                                    "onclick=PopupForm('@Url.Action("Details","Furnitures")/" +
                                data + "')><i class='fa fa-list'></i> Details</a ><a class='btn btn-outline-danger btn-block btn-sm'" +
                                    "onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a >";
                        }

                    }
                ],
                "language": {
                    "emptyTable": "No data found"
                },
                "responsive": true,

            });

            $('.searchable').each(function () {
                var title = $('#Table thead th').eq($(this).index()).text();
                $(this).html('<input class="form-control " type="text" placeholder="Search ' + title + ' " ' + ' style="width: 130px;"/>')
            });

            dataTable.columns().every(function () {
                var datatableColumn = this;

                $(this.footer()).find('input').on('keyup change', function () {
                    datatableColumn.search(this.value).draw();
                });
            })
        });

        function PopupForm(url) {

            var formDiv = $('.modal-body');
            $.get(url)
                .done(function (response) {
                    var modal = $(this);
                    formDiv.html(response);
                });
        }

          function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                              $('#user_content').load('@Url.Action("PopUp","Home")');
                             $("#modalAdd").modal('hide');
                             
                             dataTable.ajax.reload();
                           
                        }
                    }
                });
            }
            return false;
        }

        function Delete (id){
            if (confirm("Are you sure you want to delete this Shop?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Furnitures")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }
    </script>
}